*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Roboto Slab", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    background-color: rgb(32, 3, 32);
    
    /* background-color: rgb(226, 226, 226); */
}
.header{
    position: sticky;
    top: 0px;
    /* margin:3px 50px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(32, 3, 32);
    
    height: 120px;
   
    
}
.logoimg{
    height: 200px;
    width: 200px;
    border-radius: 100px;
    margin-left: 30px;
    /* padding: 10px; */
}
.links{
    text-decoration: none;
    margin-right: 40px;
    font-size: 20px;
    color: gray;
    transition: font-size 1s;
}
.links:hover{
    color: rgb(77, 39, 112);
    font-size:30px ;
    
}
.links:active{
    color: white;
}
#home{
    display: grid;
    grid-template-columns: 50% 50%;
}
.intro{
    /* padding: 40px; */
    font-size: 18px;
    margin: 190px 0px 200px 0px;
}
.intro_head{
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 100px;
    color: gray;
}
.intro_p{
    text-align: justify;
    margin-bottom: 20px;
    margin-left: 100px;
    font-size: large;
    color: gray;
    
}
.intro_link{
    text-decoration: none;
    background-color: rgb(77, 39, 112);
    color: white;
    padding: 7px 20px 7px 20px;
    border-radius: 7px;
    margin-left: 100px;
    font-size: 14px;
    
}
.intro_img{
    position: relative;
    margin: 190px 0px 20px 100px;
    width: 650px;
    
}
#intro_img1{
    width: 60%;
    position: absolute;
    left: 22px;
    margin-top: -50px;

}


#about{
    margin-top: 200px;
    display: grid;
    grid-template-columns: 100%;
    padding: 0px 20px 0px 0px;
    /* column-gap: 10px; */
    margin-left: 10px;
}
.about_content{
    margin-top: 200px;
}
.about_content>h2{
    color: rgb(77, 39, 112);
    margin-top: 100px;
    margin-bottom: 10px;
    text-align: center;
}
.about_content>p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 300px;
    color: gray;

}
html{
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    visibility: hidden;
}

#education{
    /* display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto auto;
    padding: 0px 20px 0px 0px;
    column-gap: 50px;
    margin-left: 10px; */
    display: flex;
    margin: -10px 250px;
    text-align: center;


}
.edu_head{
    text-align: center;
    color: rgb(77, 39, 112);
    font-size: 40px;
    position: absolute;
    top: 1650px;
    left: 650px;
}
.edu_content{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    color:white;
    margin: 100px 100px;
}
.edu{
    width: 400px;
    padding: 40px;
    border-bottom: solid rgb(77, 39, 112);
}

#contact{
    display: grid;
    grid-template-columns: auto ;
    grid-template-rows: ;

}
.contact_head{
    margin-top: 100px;
    align-content: center;
    text-align: center;
    color: rgb(77, 39, 112);
    font-size: 40px;
    
}
.icon{
    font-size: 20px;
    word-spacing: 20px;
    color:rgb(119, 69, 167) ;
    align-content: center;
    text-align: center;
    line-height: 100px;
    /* border-bottom: solid rgb(77, 39, 112); */
    /* width: 700px; */
    margin-bottom: 300px;
}

.icon>a:hover{
    color: rgb(77, 39, 112);
    font-size:30px ;
    transition: font-size 1s;
}
